<h1><%= t('activerecord.common.title.editing_book') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('activerecord.common.action.show'), @book %> |
  <%= link_to t('activerecord.common.action.back'), books_path %>
</nav>
